.header {
    background-color: #02A7C3;
    border-bottom: solid #C5E7F0 5px;
    color: #FFFFFF;
}

.header-text {
    line-height: 60px;
}

.header-text>.nowrap>a {
    color: #FFFFFF;
}

.header .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

.header-brand {
    display: inline-block;
    line-height: inherit;
    margin-right: 1px;
    padding-bottom: 15px;
    padding-top: 15px;
    white-space: nowrap;
}

@media only screen and (min-width: 768px) {
    .pull-right-sm {
        float: right;
    }
}

@media only screen and (max-width: 768px) {
    .header-brand {
        padding-bottom: -10px;
    }
    .header-text {
        line-height: 25px;
        padding-bottom: 15px;
    }
}
