.nowrap {
    margin-left: 2px;
    margin-right: 2px;
    white-space: nowrap;
}

.slideImage {
    height: auto;
    margin: 0 auto;
    width: 100%;
}

.img-responsive {
    height: auto;
    width: 100%;
}

.noPadding {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.rightBanner {
    background-color: #C5E7F0;
}

.section-heading {
    color: #388794;
    font-weight: 500;
    margin-top: 0;
    text-shadow: #388794 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

.paragraph {
    font-size: 15px;
    font-weight: bold;
    line-height: 22px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.text {
    font-weight: bold;
    padding: 5%;
}

.para-heading {
    border-bottom: 2px solid #388794;
    color: #388794;
    padding-bottom: 2%;
    padding-left: 5%;
}

.col-centered {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
}

mark {
    background-color: #388794;
    color: #FFFFFF;
}

.page-footer {
    background-color: #02A7C3;
    border-top: solid #C5E7F0 5px;
    margin-top: 10px;
    padding: 30px;
}

.footer-text {
    display: inline-block;
}

.footer-text,
.footer-text a {
    color: #FFFFFF;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .rightBanner {
        margin: 15px;
    }
    .footer-text {
        display: block;
    }
}