.navbar-custom {
    background-color: #CCCCCC;
    border-radius: 0;
    color: black;
    margin-top: 0;
}

.navbar-custom .navbar-nav>li>a {
    color: #000000;
    font-size: 16px; 
    }

.navbar-custom .navbar-nav>li>a:hover,
.navbar-custom .navbar-nav>li>a:focus {
    background-color: transparent;
    color: #388794;
}

.navbar-custom .navbar-nav>.active>a,
.navbar-custom .navbar-nav>.active>a:hover,
.navbar-custom .navbar-nav>.active>a:focus {
    background-color: transparent;
    color: #388794;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-nav>li>a {
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbar {
    min-height: 40px;
}

@media only screen and (max-width: 767px) {
    .navbar-custom {
        margin-top: -40px !important;
        z-index: -1;
    }
    ul.nav.navbar-nav {
        margin-top: 40px !important;
    }
}

@media only screen and (max-width: 766px) {
    .collapsing,
    .in {
        background-color: #CCCCCC;
    }
    .collapsing ul>li>a,
    .in ul>li>a {
        color: #FFFFFF!important;
    }
    .collapsing>ul>li>a:focus,
    .in ul>li>a:focus {
        background-color: transparent;
        color: #000000!important;
    }
    .navbar-custom .navbar-nav>.active>a,
    .navbar-custom .navbar-nav>.active>a:hover,
    .navbar-custom .navbar-nav>.active>a:focus {
        background-color: transparent;
        color: black;
    }
}
